* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-weight: 600 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.btnNext, .btnPrev {
  width: 35px;
  height: 35px;
  background-color: #EBF4F3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btnNext:disabled, .btnPrev:disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* .swiper-wrapper {
  height: auto !important;
}

.swiper-pagination {
  text-align: center !important;
  margin-top: 3rem !important;
  bottom: 10px !important;
  position: relative !important;
}

@media (min-width: '768px') {
  .swiper-pagination {
    text-align: left !important;
  }
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 8px !important;
  background-color: gray !important;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #147C71 !important;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
