.customImage {
  width: 100%;
  height: auto;
  /* border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; */
}

@media (min-width: 1024px) {
  .customImage {
    width: auto;
  }
}
